# Configuration for the MP3 File Migrator script

# Define the folder where your MP3s are currently located.
SourceFolder="$HOME/Music/"

# Define the folder where you want to move the MP3s.
DestinationFolder="$HOME/Music/Apple Music/Media/Automatically Add to Apple Music"

# A space-separated list of file extensions to move (e.g., "mp3 m4a flac").
FileTypesToMove="mp3"

# Set to "true" to run the script without any interactive prompts.
SkipPrompts=false

# Set to "true" to automatically create a log file when SkipPrompts is true.
LogOnSkipPrompts=false